/* Estilos CSS para el formulario */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(https://c8.alamy.com/compes/gde7x4/edificio-del-hospital-con-los-departamentos-oficinas-sala-de-operaciones-ward-sala-de-espera-y-recepcion-concepto-sanitario-gde7x4.jpg) ;
    background-size: cover;
    
}

header, footer {
    background-color: #66bbad;
    color: #fff;
    padding: 20px;
}

footer{
    position: static;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    
}

li{
    list-style: none;
    display: grid;
    padding: 20px;
}

.container-form{
    max-width: 20%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #66bbad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #66bbad;
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #66bbad;
    background-color: #4463ca00;


}

td {
    color: #050505;
}

th {
    background-color: #1db49b;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
}

.listado-container {
    max-width: 70%;
}
.boton-container {
    margin-block: 30px;
}
a{
    text-decoration: none;
}
.listado-servicios a {
    color: #66bbad;
    font-size: 20px;
}

.listado-servicios li::marker {
    content: 🐾;
}
